* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec{
    height: 100vh;
    /* background: url('679f722b917730c8618323f2178d1e45.jpg') center/cover no-repeat; */
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sec .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    left: -520px;
    top: 200px;
}

.content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: 6c502c;
    color: black;
    background-color: #6c502c;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.content .btn:hover {
    background-color: aliceblue;
    color: black;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #6c502c;
    font-style: italic;
}

h1:hover{
    color: aliceblue;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #6c502c;
    position: fixed;
    width: 100%;
    z-index: 10;
    /* background-color: yellow; */
}

.nav .logo {
    font-size: 35px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px #000, 2px 2px 5px #555;
    /* transform: perspective(500px) rotateX(10deg) rotateY(10deg); */
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.nav .logo:hover {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
    text-shadow: 2px 2px 5px #000, 4px 4px 10px #555;
}
.links {
    display: flex;
    list-style: none;
}

.links li {
    margin: 0 10px;
}

.links a {
    color: #6c502c;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    /* background-color: aliceblue; */
    color: aliceblue;
}

.usercontrols a {
    color: #6c502c;
    margin-left: 20px;
    text-decoration: none;
} 

.usercontrols a:hover {
    color: aliceblue;
}

