<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}

        <input type="text" placeholder="Name" name="name"><br><br>
        <input type="email" placeholder="Email" name="email"><br><br>
        <input type="tel" placeholder="Phone" name="phone"><br><br>
        <input type="password" placeholder="Password" name="password"><br><br>
        <input type="password" placeholder="Confirm Password" name="cpassword"><br><br>
        <button type="submit">Sign Up</button> 
            

      </form>
</body>
</html>